:root {
  --sans-serif-font: "Instrument Sans";
}

abbr[title] {
  text-decoration: none;
}

body {
  font-family: var(--sans-serif-font);
  font-size: 16px;
}

.lucide + .lucide {
  margin-left: 0.25rem;
}

main {
  padding-bottom: 75px;
}
