:root {
  --sans-serif-font: "Instrument Sans";
  --headline-font: "Nunito";
}

abbr[title] {
  text-decoration: none;
}

body {
  font-family: var(--sans-serif-font);
  font-size: 16px;
  font-variation-settings: "wdth" 85;
  font-weight: 400;
}

.lucide + .lucide {
  margin-left: 0.25rem;
}

.openmoji {
  width: 28px;
  height: 28px;
}

.btn .openmoji {
  width: 34px;
  height: 34px;
  margin: -6px;
}

.btn-sm .openmoji {
  width: 30px;
  height: 30px;
  margin: -4px;
}

p > .openmoji {
  width: 22px;
  height: 22px;
}

button.reaction .openmoji {
  margin: -4px 0;
}

main {
  padding-bottom: 75px;
}

.heading-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 300;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 500;
}

.markdown p:last-child {
  margin-bottom: 0;
}
